.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.jumbotron {
  text-align: left;
  /* padding: 20px; */
}

.CodeCardBody {
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.CodeCardBody textarea {
  resize: none;
  border: none;
  cursor: text;
  box-sizing: border-box;
  min-height: 560px;
}

.PreviewCardBody {  
  min-height: 568px;
  overflow: auto;
  cursor: default;
}

.card {
  text-align: left;
  margin-bottom: 50px;
  /* min-height: 568px; */
}

.footer {
  padding: 10px;
  text-align: center;
}

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

blockquote p {
  border: red;
  color: gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}